* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background: #003049;
    /* background-image: linear-gradient(180deg, #000000 0%, #070707 100%); */
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 80px;
    padding: 10px;
}

header img {
    width: 350px;
    height: 100px;
    margin-top: 10px;
    margin-left: 70px;
}

main {
    width: 100%;
    min-width: 320px;
}

.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-width: 280px;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 2px 5px 10px #000;
    background-color: #0f0f0f

}

.login__container h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3rem;
    color: #fff;
}

.login__container--form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 200px;
}

.input {
    display: inline-block;
    min-width: 200px;
    min-height: 25px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 2px;
    border: none;
    outline: none;
    
}

.button {
    min-width: 150px;
    min-height: 30px;
    margin-bottom: 15px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #ffffff;
}

.login__container--remember-me {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 20px;

}

.login__container--remember-me label {
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    
    
}

.login__container--remember-me input {
    margin-right: 10px;
}

.login__container--remember-me a {
    margin-bottom: 20px;
    text-decoration: none;
    color: #fff;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--social-media {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.login__container--social-media h3 {
    font-size: 1.4rem;
    color: #fff;
}

.social-media__container{
    display: flex;
    justify-content: center;
}

.social-media__container img {
    margin: 0 20px;
    margin-top: 20px;
    width: 30px;
    cursor: pointer;
}

.login__container--register {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.login__container--register p {
    font-size: 1rem;
    color: #fff;
}

.login__container--register a {
    margin-left: 2px;
    text-decoration: none;
    color:  #00a6ff;
}

.login__container--register a:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 320px;
    min-height: 50px;
    background-color: #0f0f0f;
}
.footer a {
    margin: 20px;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}